<!-- New user  -->
<form
	name="ctrl.myForm" 
	flex
 	layout="column" 
	ng-submit="addUser(model, ctrl.myForm)"
	mb-preloading="ctrl.working">
    <input hide type="submit" />
    <div style="text-align: center;"
		layout-margin
		ng-show="!ctrl.working && errorMessage"> 
		<p><span md-colors="{color:'warn'}" translate>{{errorMessage}}</span></p>
	</div>
	<div layout="column" layout-padding>
	  <md-input-container>
	    <label translate>First name</label>
	    <input name="first_name" ng-model="model.first_name" type="text">
	  </md-input-container>
	  <md-input-container>
	    <label translate>Last name</label>
	    <input name="last_name" ng-model="model.last_name" type="text">
	  </md-input-container>
	  <md-input-container>
	    <label translate>Username</label>
	    <input name="login" ng-model="model.login" type="text" required>
	    <div ng-messages="ctrl.myForm.login.$error" md-auto-hide="false">
			<div ng-message="required" translate>This field is required.</div>
			<div ng-message="unique" translate>Username is used before.</div>
			<div ng-message="minlength" translate>Username is too short.</div>
		</div>
	  </md-input-container>
	  <md-input-container>
	    <label translate>Email</label>
	    <input name="email" ng-model="model.email" type="email" required>
	    <div ng-messages="ctrl.myForm.email.$error" md-auto-hide="false">
			<div ng-message="required" translate>This field is required.</div>
			<div ng-message="notnull" translate>This field is required.</div>
			<div ng-message="email" translate>Email is not valid.</div>
		</div>
	  </md-input-container>
	  <md-input-container>
	    <label translate>Password</label>
	    <input name="password" ng-model="model.password" type="password" required>
	    <div ng-messages="ctrl.myForm.password.$error" md-auto-hide="false">
			<div ng-message="required" translate>This field is required.</div>
			<div ng-message="minlength" translate>Password is too short.</div>
		</div>
	  </md-input-container>
<!-- 	  <md-input-container layout-fill> -->
<!-- 		<label translate>Repeat password</label> -->
<!-- 		<input name="pass2" ng-model="pass2" type="password" compare-to="model.password"  -->
<!-- 			md-auto-hide="false" required/> -->
<!-- 		<div ng-messages="ctrl.myForm.newPass2.$error"> -->
<!--              	<div ng-message="required">This is required.</div> -->
<!--              	<div ng-message="compareTo">password is not match.</div> -->
<!--            </div> -->
<!--      </md-input-container> -->
	</div>
	
	<div layout="row">
		<span flex></span>
		<md-button 
			class="md-raised"
			ng-click="cancel()">
			<wb-icon>close</wb-icon>
			<span translate>Cancel</span>
		</md-button>
		<md-button 
			class="md-raised"
			ng-click="addUser(model, ctrl.myForm)">
			<wb-icon>done</wb-icon>
			<span translate>Add</span>
		</md-button>
	</div>
</form>
