<md-content
	wb-infinite-scroll="nextPage"
	layout="column"
	flex>
	
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload"
		mb-sort-keys="sortKeys"
		mb-sort-keys-titles="sortKeysTitles"
		mb-enable-search="true">
	</mb-pagination-bar>
	<!-- role info -->
	<md-list flex>
		<md-list-item 
			ng-repeat="role in ctrl.items"
			ng-href="{{'role/'+role.id}}"
			class="md-3-line">
			<wb-icon>accessibility</wb-icon>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{role.name}}</h3>
				<h4></h4>
				<p>{{role.description}}</p>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- حالت لود را تعیین می‌کند. -->
		<div layout="column" layout-align="center center">
			<md-progress-circular 
				ng-show="ctrl.status === 'working'" 
				md-diameter="96">{{'Loading ...' | translate}} </md-progress-circular>
		</div>
	</md-list>
</md-content>
