<md-content
	mb-infinate-scroll="nextPage()"
	layout="column"
	mb-preloading="ctrl.working"
	flex>
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload"
		mb-sort-keys="sortKeys"
		mb-sort-keys-titles="sortKeysTitles"
		mb-enable-search="true"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
		
	<!-- Group info -->
	<md-list flex
		ng-if="ctrl.items && ctrl.items.length !== 0">
		<md-list-item 
			ng-repeat="group in ctrl.items track by group.id"
			ng-href="{{'group/'+group.id}}"
			class="md-3-line">
			<wb-icon>group</wb-icon>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{group.name}}</h3>
				<h4></h4>
				<p>{{group.description}}</p>
			<wb-icon 
				class="md-secondary" 
				ng-click="remove(group)" 
				ng-show="remove"
				aria-label="remove">delete</wb-icon>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- حالت لود را تعیین می‌کند. -->
		<div layout="column" layout-align="center center">
			<md-progress-circular 
				ng-show="ctrl.working" 
				md-diameter="96">{{'Loading ...' | translate}}</md-progress-circular>
		</div>
	</md-list>
	
	<div
		layout="column"
		layout-align="center center"
		ng-if="!ctrl.items || ctrl.items.length == 0">
		<h2>Empty group list</h2>
		<p>Any group match with the query. You can add a new group by 
			click on the add button</p>
		<md-button
			ng-click="addGroup()">
			<wb-icon>add</wb-icon>
			<span translate>Add</span>
		</md-button>
	</div>
</md-content>
