<!-- New group -->
<form 
	flex
 	layout="column" 
	ng-submit="addGroup(model)"
	mb-preloading="ctrl.working">
    <input hide type="submit" />
	<div layout="column" 
		layout-padding>
		<md-input-container>
			<label translate>Name</label>
			<input ng-model="model.name">
		</md-input-container>
		<md-input-container>
			<label translate>Description</label>
			<input ng-model="model.description">
		</md-input-container>
	</div>


	<div layout="row">
		<span flex></span>
		<md-button 
			class="md-raised"
			ng-click="cancel()"
			aria-label="close">
			<wb-icon>close</wb-icon>
			<span translate>Cancle</span>
		</md-button>
		<md-button 
			class="md-raised"
			ng-click="addGroup(model)">
			<wb-icon>done</wb-icon>
			<span translate>Add</span>
		</md-button>
	</div>
</form>

	
	