<md-content
	wb-infinate-scroll="nextPage"
	layout="column"
	flex>
	
	<!-- Action bar -->
	<mb-pagination-bar
		mb-model="paginatorParameter"
		mb-reload="reload"
		mb-export="exportList"
		mb-sort-keys="sortKeys"
		mb-sort-keys-titles="sortKeysTitles"
		mb-enable-search="true"
		mb-more-actions="moreActions">
	</mb-pagination-bar>
	
	<md-list flex mb-preloading="ctrl.exporting || ctrl.status === 'working'"
		ng-if="ctrl.items && ctrl.items.length !== 0">
		<md-list-item 
			ng-repeat="user in ctrl.items track by user.id"
			ng-href="{{'user/'+user.id}}"
			class="md-3-line">
			<img 
				ng-src="/api/user/{{user.id}}/avatar" 
				class="md-avatar"/>
			<div 
				class="md-list-item-text" 
				layout="column">
				<h3>{{user.first_name}} - {{user.last_name}}</h3>
				<h4>{{user.login}}</h4>
				<p>
					<b><span translate>{{user.active ? 'Active' : 'Deactive'}}</span></b>&ensp;
					<span translate>Joined date</span>: {{user.date_joined | pdate:'jYYYY/jMM/jDD'}}&ensp;
					<span translate>Last Login</span>: {{user.last_login | pdate:'jYYYY/jMM/jDD'}}
				</p>
			</div>
			<wb-icon 
				class="md-secondary" 
				ng-click="remove(user)" 
				ng-show="remove"
				aria-label="remove">delete</wb-icon>
			</div>
			<md-divider md-inset></md-divider>
		</md-list-item>
		<!-- حالت لود را تعیین می‌کند. -->
		<div layout="column" layout-align="center center">
			<md-progress-circular 
				ng-show="ctrl.status === 'working'" 
				md-diameter="96">{{'Loading ...' | translate}} </md-progress-circular>
		</div>
	</md-list>
	<div
		layout="column"
		layout-align="center center"
		ng-if="ctrl.status !== 'working' && !(ctrl.items && ctrl.items.length)">
		<h2>Empty user list</h2>
		<p>Any user match with the query. You can add a new user by 
			click on the add button</p>
		<md-button
			ng-click="addUser()">
			<wb-icon>add</wb-icon>
			<span translate>Add</span>
		</md-button>
	</div>
</md-content>

